# Argo CD Tenant - Squad Faturamento
# Configurações específicas desta squad

crds:
  install: false

configs:
  params:
    server.insecure: true

server:
  service:
    type: ClusterIP

  resources:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      cpu: 200m
      memory: 256Mi

controller:
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi

repoServer:
  resources:
    requests:
      cpu: 50m
      memory: 128Mi

redis:
  resources:
    requests:
      cpu: 50m
      memory: 64Mi

dex:
  enabled: false

notifications:
  enabled: false
